<div id="destination-entry">
  <%= form_for @destination, :remote => true do |f| %>
    <fieldset>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </fieldset>
    <fieldset>
      <%= f.label :image_url, "Image URL" %>
      <%= f.text_field :image_url %>
    </fieldset>
    <%= f.submit "Add" %>
  <% end %>
</div>
<div id="destination-list">
  <ol id="destination-list-ol">
  </ol>
</div>