<div class="to-do-entry">
  <%= form_for [destination, @to_do] do |f| %>
    <fieldset>
      <%= f.label :name, "ToDo Name" %>
      <%= f.text_field :name %>
    </fieldset>
    <fieldset>
      <%= f.label :image_url, "ToDo Image URL" %>
      <%= f.text_field :image_url %>
    </fieldset>
    <fieldset>
      <%= f.label :priority, "ToDo Priority" %>
      <%= f.text_field :priority %>
    </fieldset>
    <fieldset>
      <%= f.label :where , "ToDo Where" %>
      <%= f.text_field :where %>
    </fieldset>
    <fieldset>
      <%= f.label :latitude , "ToDo Latitude" %>
      <%= f.text_field :latitude %>
    </fieldset>
    <fieldset>
      <%= f.label :longitude , "ToDo Longitude" %>
      <%= f.text_field :longitude %>
    </fieldset>
    <%= f.submit "Add ToDo" %>
  <% end %>
</div>