<li id="to-do-<%=to_do.id%>">
  <div>
    <strong> To Do: </strong><%= "#{to_do.name}" %>
    <strong> Priority: </strong><%= "#{to_do.priority}" %>
    <strong> Created: </strong><%= "#{to_do.created_at}" %>
  </div>
  <div>
    <%= image_tag to_do.image_url, :class => "to_do-img" %>
  </div>
</li>