<div class="destination-entry">
  <%= form_for @destination, :remote => true do |f| %>
    <fieldset>
      <%= f.label :name, "Destination Name" %>
      <%= f.text_field :name %>
    </fieldset>
    <fieldset>
      <%= f.label :image_url, "Destination Image URL" %>
      <%= f.text_field :image_url %>
    </fieldset>
    <%= f.submit "Add Destination" %>
  <% end %>
</div>
