<li id="destination-<%=destination.id%>">
  <div>
    <%= destination.name %>
  </div>
  <div>
    <%= image_tag destination.image_url %>
  </div>
  <% unless destination.new_record? %>
    <% destination.to_dos.each do |t| %>
      <%= render 'to_dos/to_do', :locals => { :to_do => t} %>
    <% end %>
    <% @to_do = ToDo.new %>
    <%= render :partial => 'to_dos/to_do_form', :locals => { :destination => destination, :to_do => @to_do}%>
  <% end %>
</li>