<li id="destination-<%=destination.id%>">
  <div>
    <h3>Destination: <%= destination.name %></h3>
  </div>
  <div>
    <%= image_tag destination.image_url %>
  </div>
  <ul id="destination-<%=destination.id%>-todos">
    <% unless destination.new_record? %>
      <%= render :partial => 'to_dos/to_dos', :locals => { :to_dos => destination.to_dos} %>
  </ul>
      <% @to_do = ToDo.new %>
      <%= render :partial => 'to_dos/to_do_form', :locals => { :destination => destination, :to_do => @to_do}%>
    <% end %>
</li>